html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #e1e1e1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: cursive;
}

#root {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.canvas {
    border: 3px #03A9F4 solid;
    border-radius: 20px;
    -webkit-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
    box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
}

.drawingArea {
    display: flex;
    flex-direction: column;
    align-items: normal;
}

button {
    width: 200px;
    height: 50px;
    border: 0;
    border-radius: 10px;
    background-color: #03A9F4;
    color: white;
    font-size: 15px;
    font-weight: bolder;
}

button:active {
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

input[type="range"] {
    width: 200px;
    -webkit-appearance: none;  /* Override default CSS styles */
    border-radius: 15px;
    background-color: #03A9F4;
    height: 10px;
}

input[type="range"]:hover {
    -webkit-box-shadow:0 0 2px rgba(0, 0, 0, 0.5);
    -moz-box-shadow:0 0 2px rgba(0, 0, 0, 0.5);
    box-shadow:0 0 2px rgba(0, 0, 0, 0.5);
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    border-radius: 25px;
    width: 25px;
    height: 25px;
    background: #03A9F4;
    cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb:hover {
    -webkit-box-shadow:0 0 5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow:0 0 5px rgba(0, 0, 0, 0.5);
    box-shadow:0 0 5px rgba(0, 0, 0, 0.5);
}

.titleContainer {
    height: 50px;
    margin: 10px 15px 0 15px;
    display: flex;
    align-items: center;
}


.canvasControls {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    justify-content: space-around;
    align-items: center;
}

.rightComponent {
    display: flex;
    align-items: center;
    height: 784px;
    -webkit-animation: fadeinout 4s linear forwards;
    animation: fadeinout 4s linear forwards;
}

.description {
    display: flex;
    align-items: center;
    height: 784px;
    width: 496px;
    -webkit-animation: fadeinout 4s linear forwards;
    animation: fadeinout 4s linear forwards;
}

.description > div {
    border-color: #03A9F4;
    border-width: 3px 3px 3px 0;
    border-style: solid;
    border-radius: 0 20px 20px 0;
    -webkit-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
    box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
    padding: 15px 15px 15px 25px;
    box-sizing: border-box;
    font-size: 16px;
}

.description h2 {
    margin-top: 0;
}
.resultBox {
    display: flex;
    flex-direction: column;
}

.outputImg {
    margin: 5px 0;
    border-radius: 10px;
    border: #03A9F4 solid;
    background-color: black;
    -webkit-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
    box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
}

.inputImg {
    border-radius: 5px;
    border: #03A9F4 solid;
    background-color: black;
    -webkit-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
    box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
}

button:focus {outline:0;}
input:focus {outline:0;}

.loader {
    border: 40px solid #f3f3f3;
    border-radius: 50%;
    border-top: 50px solid #03A9F4;
    width: 500px !important;
    height: 500px !important;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}


.rangeContainer {
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

a {
    color: #3980f4;
    text-decoration: none;
}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
